.login-form{
    background: #CDE6F5;
    display: flex;
    flex-direction: column;

    width: 400px;
    height: 524px;
    margin: 5% auto 0 auto;
    font-size: 20px;
    text-align: center;
}

.login-form-input{
    text-align: left;
    display: flex;
    flex-direction: column;
    width: 80%;
    margin: 20px auto 0 auto;
}
.login-form-input > label{ margin: 0 0 5px 0;}

.login-form-input > input{
    margin: 5px 0 10px 0;
    height: 40px;
    border: 100px turquoise;
    border-radius: 4px;
    outline:none;
    box-sizing: border-box;
    transition: .3s;
}
.login-form-input  input:focus{
    border-color:#FFBE0B;
    box-shadow: 0 0 8px 0 #FFBE0B;
}


.login-form > button{
    all: unset;
    text-align: center;
    margin: 20px auto 20px auto;
    width: 80%;
    height: 40px;

    background-color:#FFBE0B;
    color:black;
    border: 10px ;
    border-radius: 4px;
    outline:none;
    transition: .3s;
}

.login-form > button:hover {
    background-color: black;
    color: white;
}

.login-form > button:last-of-type{
    margin: 12px auto 20px auto;
}


.form-error {
    height: 20px;
    color: red;
}